$header-background: "../img/m-h-night.jpg";
$black: rgb(44,47,60);
$header_button: #e3ac00;
$white: #ffffff;
$word-background: #ff4e33;
$card-background: #3b3f50;
$right-liner-gradient: #932d52;
$logo-color: white;
$footer-logo: #c0c3ce;
$header-title:white;
$background-color: #21232e;
$font-family:'Fresca', sans-serif;