
$header-background: "../img/m-h-day.jpg";
$black: rgb(44,47,60);
$header_button: rgb(105,153,0);
$white: #ffffff;
$word-background: rgb(20,160,199);
$card-background: #21232e;
$right-liner-gradient: #2d5bd7;
$logo-color: rgb(44,47,60);
$footer-logo: #c0c3ce;
$header-title:rgb(44,47,60);
$background-color: white;
$font-family:'Source Sans Pro', sans-serif;
